trunk/DSconformes/DSconformes.Presentacion/Web References/ws_zona/Zona1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12455/Zona.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DSconformes.PlatosService.Dominio" />
  <xs:element name="ListarZonas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarZonasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DSconformes.PlatosService.Dominio" minOccurs="0" name="ListarZonasResult" nillable="true" type="q1:ArrayOfZonas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>