DSconformes/DSconformes.Presentacion/Service References/ws_reserva_detalle/Reserva_Detalle.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Reserva_Detalle" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:12455/Reserva_Detalle.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:12455/Reserva_Detalle.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:12455/Reserva_Detalle.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DSconformes.PlatosService.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReserva_Detalle_Registrar_InputMessage">
    <wsdl:part name="parameters" element="tns:Registrar" />
  </wsdl:message>
  <wsdl:message name="IReserva_Detalle_Registrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarResponse" />
  </wsdl:message>
  <wsdl:message name="IReserva_Detalle_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="IReserva_Detalle_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="IReserva_Detalle_Insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:Insertar" />
  </wsdl:message>
  <wsdl:message name="IReserva_Detalle_Insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarResponse" />
  </wsdl:message>
  <wsdl:message name="IReserva_Detalle_ListarReserva_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarReserva" />
  </wsdl:message>
  <wsdl:message name="IReserva_Detalle_ListarReserva_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarReservaResponse" />
  </wsdl:message>
  <wsdl:portType name="IReserva_Detalle">
    <wsdl:operation name="Registrar">
      <wsdl:input wsaw:Action="http://tempuri.org/IReserva_Detalle/Registrar" message="tns:IReserva_Detalle_Registrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReserva_Detalle/RegistrarResponse" message="tns:IReserva_Detalle_Registrar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IReserva_Detalle/Listar" message="tns:IReserva_Detalle_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReserva_Detalle/ListarResponse" message="tns:IReserva_Detalle_Listar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <wsdl:input wsaw:Action="http://tempuri.org/IReserva_Detalle/Insertar" message="tns:IReserva_Detalle_Insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReserva_Detalle/InsertarResponse" message="tns:IReserva_Detalle_Insertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarReserva">
      <wsdl:input wsaw:Action="http://tempuri.org/IReserva_Detalle/ListarReserva" message="tns:IReserva_Detalle_ListarReserva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReserva_Detalle/ListarReservaResponse" message="tns:IReserva_Detalle_ListarReserva_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReserva_Detalle" type="tns:IReserva_Detalle">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Registrar">
      <soap:operation soapAction="http://tempuri.org/IReserva_Detalle/Registrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/IReserva_Detalle/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insertar">
      <soap:operation soapAction="http://tempuri.org/IReserva_Detalle/Insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarReserva">
      <soap:operation soapAction="http://tempuri.org/IReserva_Detalle/ListarReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Reserva_Detalle">
    <wsdl:port name="BasicHttpBinding_IReserva_Detalle" binding="tns:BasicHttpBinding_IReserva_Detalle">
      <soap:address location="http://localhost:12455/Reserva_Detalle.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>