DSconformes/DSconformes.Presentacion/Service References/ws_reserva/Reserva2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12455/Reserva.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DSconformes.PlatosService.Dominio" />
  <xs:import schemaLocation="http://localhost:12455/Reserva.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DSconformes.PlatosService.Dominio" minOccurs="0" name="zona" nillable="true" type="q1:Zonas" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DSconformes.PlatosService.Dominio" minOccurs="0" name="mesa" nillable="true" type="q2:Mesas" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="hora_inicio" type="q3:duration" />
        <xs:element minOccurs="0" name="estado" type="xs:int" />
        <xs:element minOccurs="0" name="asistentes" type="xs:int" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DSconformes.PlatosService.Dominio" minOccurs="0" name="RegistrarResult" nillable="true" type="q4:Reservas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dni" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DSconformes.PlatosService.Dominio" minOccurs="0" name="ListarResult" nillable="true" type="q5:ArrayOfReservas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_reserva" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DSconformes.PlatosService.Dominio" minOccurs="0" name="ObtenerResult" nillable="true" type="q6:Reservas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_reserva" type="xs:int" />
        <xs:element minOccurs="0" name="Total" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>