trunk/DSconformes/DSconformes.Presentacion/Service References/ws_mesa/Mesa1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DSconformes.PlatosService.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DSconformes.PlatosService.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMesas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mesas" nillable="true" type="tns:Mesas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMesas" nillable="true" type="tns:ArrayOfMesas" />
  <xs:complexType name="Mesas">
    <xs:sequence>
      <xs:element minOccurs="0" name="asientos" type="xs:int" />
      <xs:element minOccurs="0" name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="id_mesa" type="xs:int" />
      <xs:element minOccurs="0" name="zona" nillable="true" type="tns:Zonas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mesas" nillable="true" type="tns:Mesas" />
  <xs:complexType name="Zonas">
    <xs:sequence>
      <xs:element minOccurs="0" name="capacidad" type="xs:int" />
      <xs:element minOccurs="0" name="id_zona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Zonas" nillable="true" type="tns:Zonas" />
</xs:schema>