trunk/DSconformes/DSconformes.Presentacion/Service References/ws_mesa/Mesa.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12455/Mesa.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DSconformes.PlatosService.Dominio" />
  <xs:element name="ListarMesasporZona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_zona" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMesasporZonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DSconformes.PlatosService.Dominio" minOccurs="0" name="ListarMesasporZonaResult" nillable="true" type="q1:ArrayOfMesas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>